@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap');

html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

body {
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
  overflow-x: hidden;
}

body.before-loaded {
  overflow: hidden;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: rgb(29, 29, 31);
}

.container {
  overflow: hidden;
}

@keyframes rotate-circle {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes get-loading-circle {
  0% {
    stroke-dashoffset: 157;
  }
  80% {
    stroke-dashoffset: -150;
  }
  100% {
    stroke-dashoffset: -157;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #f3f3f3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  transition: 0.5s;
}

.before-loaded .loading {
  opacity: 1;
}

.loading-circle {
  width: 54px;
  height: 54px;
  animation: rotate-circle 3s infinite;
}

.loading-circle circle {
  stroke: #6e6e73;
  stroke-width: 4;
  fill: transparent;
  stroke-dasharray: 157;
  animation: get-loading-circle 1.3s infinite;
}

.main .sticky-elem {
  position: fixed;
  left: 0;
  top: 35vh;
  width: 100%;
  display: none;
}

.sticky-elem.sticky-elem-canvas {
  top: 0;
  height: 100%;
  z-index: -1;
}

.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}

body#scroll-scene-0 #scroll-section-0 .sticky-elem,
body#scroll-scene-1 #scroll-section-1 .sticky-elem,
body#scroll-scene-2 #scroll-section-2 .sticky-elem,
body#scroll-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}

.header-nav .sticky {
  position: fixed;
  top: 0px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: saturate(180%) blur(15px);
}

.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.local-nav {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  z-index: 11;
  border-bottom: 1px solid #ddd;
}

.global-nav-links,
.local-nav-links {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.global-nav-links {
  height: 44px;
  justify-content: space-between;
}

.local-nav-links {
  height: 52px;
}

.local-nav-links .product-title {
  font-size: 1.4rem;
  font-weight: 900;
  margin-right: auto;
}

.local-nav-links a:not(.product-title) {
  font-size: 0.8rem;
  margin-left: 2em;
}

.scroll-section {
  position: relative;
  padding-top: 50vh;
}

#scroll-section-0 h1 {
  font-size: 4rem;
  text-align: center;
}

.description-message.b {
  left: 40%;
  top: 12%;
}

.description-message.c {
  left: 45%;
  top: 15%;
}

.main-message {
  display: flex;
  justify-content: center;
  opacity: 0;
  align-items: center;
  font-size: 2.5rem;
  height: 3em;
}

.main-message p {
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
}

.main-message small {
  font-size: 1rem;
  display: block;
  margin-bottom: 0.5em;
}

#scroll-section-1 .description {
  max-width: 1000px;
  font-size: 1.2rem;
  color: #888;
  margin: 0 auto;
  padding: 0 1rem;
}

#scroll-section-1 .description strong {
  font-size: 3rem;
  color: rgb(29, 29, 31);
  float: left;
  margin-right: 0.2em;
}

#scroll-section-2 .main-message {
  font-size: 3.5rem;
}

#scroll-section-2 .description-message {
  font-weight: 900;
  width: 45%;
  opacity: 0;
}

#scroll-section-2 .pin {
  width: 1px;
  height: 100px;
  background: rgb(29, 29, 31);
}

#scroll-section-3 .mid-message {
  color: #888;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1rem;
  font-size: 2rem;
}

#scroll-section-3 .mid-message strong {
  color: rgb(29, 29, 31);
}

.canvas-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-blend-canvas {
  position: fixed;
}

#scroll-section-3 .canvas-caption {
  color: #888;
  margin: -4em auto 0;
  padding: 0 1rem;
  max-width: 1000px;
  font-size: 1.2rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  color: #1d1d1f;
  background: #f5f5f7;
  font-weight: 600;
}

@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;
  }
  #scroll-section-1 .description {
    font-size: 2rem;
  }
  #scroll-section-1 .description strong {
    font-size: 6rem;
  }
  #scroll-section-2 .main-message {
    font-size: 6vw;
  }
  .main-message small {
    font-size: 1.5vw;
  }
  #scroll-section-2 .description-message {
    width: 20%;
  }
  .description-message.b {
    left: 53%;
    top: 20%;
  }
  .description-message.c {
    left: 55%;
    top: 15%;
  }
  #scroll-section-3 .mid-message {
    font-size: 4vw;
  }
  #scroll-section-3 .canvas-caption {
    font-size: 2rem;
  }
}
